<div id="<%= dom_id comment %>">
  <div style="border:1px solid black">
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= comment.body %>
    </p>
  </div>

</div>
